extends layout

block content
  h1 #{title}: #{book.title}
  

  if books_bookinstances.length

    p #[strong Delete the following book instances before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Book Instances

      dl
      each bookinstance in books_bookinstances
        dt
          a(href=bookinstance.url) #{bookinstance.book}
        dd #{book.summary}

  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete